<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PasswordManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PasswordManager.Properties.Settings>
            <setting name="DarkMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Timeout" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="username" serializeAs="String">
                <value />
            </setting>
            <setting name="username_salt" serializeAs="String">
                <value />
            </setting>
            <setting name="password" serializeAs="String">
                <value />
            </setting>
            <setting name="password_salt" serializeAs="String">
                <value />
            </setting>
            <setting name="pim" serializeAs="String">
                <value />
            </setting>
            <setting name="pim_salt" serializeAs="String">
                <value />
            </setting>
            <setting name="user" serializeAs="String">
                <value>False</value>
            </setting>
        </PasswordManager.Properties.Settings>
    </userSettings>
</configuration>